.grid {
    min-height: 0px;
}

.grid-item {
    width: 45%;
}

.grid-item .image-cropper {
    border: 3px solid #496E80;
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

.grid-item .thread {
    min-height: 30px;
}

.grid-item .thread .thread-single {
    min-height: 30px;
    border: 0px;
    padding: 0px;
    word-wrap: break-word;
}

.grid-item .thread .thread-footer {
    color: #bababa;
}

.grid-item .thread.unapproved {
    background-color: #FFDEDE;
}

.send-testi h3 {
    border-bottom: 2px solid #496E80;
    color: #496E80;
}

.send-testi .notice {
    color: #888;
}

@media screen and (max-width: 991px) and (min-width: 767px){
    .grid-item {
        width: 45%;
    }
}

@media screen and (max-width: 767px){
    .grid-item {
        width: 100%;
    }

    .grid {
        padding: 0;
    }

    .grid-item .thread {
        margin-top: -20px;
        z-index: -1;
    }
}
