@import 'https://fonts.googleapis.com/css?family=Lato';

body {
    font-family: 'Lato', sans-serif;
    background: url('../images/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    color: #333;
    height: 0;
}

.body {
    margin-top: 100px;
    height: auto;
}

.image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    background-color: #7fbbd7;
    overflow: hidden;
    border-radius: 50%;
    border: 7px solid #496E80;
    margin: 0 auto;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.navbar {
	height: 100px;
}

.navbar-brand {
	margin-left: 20%;
}

.navbar-image {
	height: 350%;
}

#navbar-collapse-1 {
	margin-left: 5%;
	margin-top: 1.5%;
	margin-right: 10%;
}

a.navbar-menu {
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	font-size: 120%;
}

a.navbar-menu:hover {
	color: #6699ff !important;
}

.navbar-default .navbar-nav>.active>a {
  	color: #fff;
  	background-color: #7fbbd7;
    border-radius: 3px;
}

.kasih-gap {
    margin-bottom: 20px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.left-bar {
    display: none;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #7fbbd7;
    margin-left: -350px;
    min-height: 750px;
}

.left-bar a {
    color: #707070;
}

.left-bar>div>div {
    display: block;
    border-bottom: 2px solid #496E80;
    padding-bottom: 20px;
}

.left-bar>div>div:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.left-bar h3, .left-bar h4 {
    font-weight: bold;
}

.btn-left-bar {
    position: fixed;
    top: 120px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.btn-left-bar:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.btn-left-bar:focus {
    outline: none;
}

.fluid {
    width: 100%;
}

.threads {
    margin-left: 60px;
    margin-top: 20px;
    min-height: 500px;
    z-index: -1;
}

.thread {
    background-color: #fafafa;
    border-left: 5px solid #7fbbd7;
    padding: 10px 0 15px 0;
    margin-bottom: 20px;
}

.thread .thread-header {
    width: 100%;
    margin-left: -20px;
    border-left: 5px solid #496E80;
}

.thread .thread-header .image-cropper {
    border: 3px solid #496E80;
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

.thread .thread-header .title {
    color: #7fbbd7;
    font-size: 27px;
    font-weight: bold;
}

.thread .thread-header .title i {
    color: #333;
}

.thread .thread-header .title a {
    color: #7fbbd7;
    text-decoration: none;
}

.thread .thread-header .title a:hover {
    color: #496E80;
    text-decoration: none;
}

.thread .thread-header .meta-data {
    width: 100%;
    color: #707070;
    font-size: 14px;
}

.thread .thread-single a {
    color: #7fbbd7;
}

.thread .thread-footer, .thread .thread-attach {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #7fbbd7;
}

.thread .thread-attach a {
    color: #7fbbd7;
}

.thread .thread-content {
	width: 100%;
    border-top: 1px solid #7fbbd7;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 16px;
    max-height: 370px;
    overflow-y: hidden;
	position: relative;
}

.thread.event-passed {
    background-color: #bbb;
}

.thread.event-passed .thread-header .title a {
    color: #ddd;
}

.thread.event-passed .thread-header .title a:hover {
    color: #eee;
}

.fadeout {
	margin: 0px;
    position: absolute;
    bottom: 0em;
    width:100%;
    height: 2em;
    background: -webkit-linear-gradient(
        rgba(250, 250, 250, 0) 0%,
        rgba(250, 250, 250, 1) 100%
    );
    background-image: -moz-linear-gradient(
        rgba(250, 250, 250, 0) 0%,
        rgba(250, 250, 250, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(250, 250, 250, 0) 0%,
        rgba(250, 250, 250, 1) 100%
    );
    background-image: linear-gradient(
        rgba(250, 250, 250, 0) 0%,
        rgba(250, 250, 250, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(250, 250, 250, 0) 0%,
        rgba(250, 250, 250, 1) 100%
    );
}

.thread .thread-single {
    border-top: 1px solid #7fbbd7;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 16px;
    min-height: 100px;
}

.thread .thread-footer .read-more {
    color: #7fbbd7;
}

.comments .image-cropper {
    border: 3px solid #496E80;
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

.comments h3 {
    border-bottom: 2px solid #496E80;
}

.comments .comment .title {
    font-size: 18px;
}

.right-bar {
    margin-top: 20px;
}

.right-bar .right-bar-props {
    background-color: #7fbbd7;
    border-right: 15px solid #FFFFFF;
    padding: 10px 10px 10px 10px;
}

.right-bar .right-bar-props>div {
    background-color: #eee;
    padding-top: 5px;
    padding-bottom: 15px;
    border-left: 5px solid #496E80;
    margin-bottom: 20px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.right-bar .right-bar-props>div>.title {
    border-bottom: 2px solid #496E80;
}

.right-bar .right-bar-props #kataelemen {
    min-height: 100px;
    padding-bottom: 5px;
}

.right-bar .right-bar-props #kataelemen>.element {
    display: inline;
    border: 0;
    margin-top: 5px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.right-bar .right-bar-props .clock {
    min-height: 70px;
}

.right-bar .right-bar-props .calendar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.right-bar .right-bar-props #medis {
    min-height: 100px;
    padding-bottom: 5px;
    position: relative;
}

.right-bar .right-bar-props #medis img {
    width: 100%;
}

.ribbon {
  position: absolute;
  left: -10px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: rgba(0,0,0,0);
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F44336 0%, #B71C1C 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #B71C1C;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #B71C1C;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #B71C1C;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #B71C1C;
}

.fc-time{
   display : none;
}

.fc-toolbar h2 {
    margin: 0px !important;
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
}

.fc-scroller {
   overflow-y: hidden !important;
}

.fc-body {
    background: white !important;
}

.fc-head {
    background-color: #ddd;
}

.fc-more {
    margin: 0 !important;
    padding: 0 !important;
}

#servertime {
    font-size: 24px;
}

.footer {
    background-color: #e1e1e1;
    padding: 20px;
    box-shadow: 0 10px 30px black;
}

button:focus {
    outline: none;
}

.btn-creative {
    height: 50px;
    padding-top: 10px;
}

.btn-1 {
	border: 3px solid #7fbbd7;
	color: #7fbbd7;
}

.btn-creative {
    margin: 0 0 30px 0;
}

@media screen and (max-width: 991px) and (min-width: 767px){
    a.navbar-menu{
		font-size: 80%;
        margin-top: 10px;
	}

	.navbar-image{
		height: 225%;
        margin-top: 10px;
	}

    .right-bar {
        width: 10%;
    }

    .left-bar {
        min-height: 0px;
    }
}

@media screen and (max-width: 767px){
	.navbar-menu{
        border-bottom: 1px solid #e1e1e1;
		background-color: #fff;
	}

    a.navbar-menu:hover {
    	color: #6699ff !important;
        background-color: #e1e1e1 !important;
    }

	.navbar{
		height: 100px;
	}

	.navbar-brand{
		margin-left: 0;
	}

	.navbar-image{
		height: 300%;
	}

	.navbar-toggle{
		margin-top: 22px;
	}

    .navbar-default .navbar-nav>.active>a {
      	border-radius: 0px;
    }

    .left-bar {
        min-height: 0px;
    }
}
